body{
  margin: 0;
  font-family:sans-serif ;
  overflow-x: hidden;
}
.nav-container {
  display: flex;
  align-items: center; 
  height: 50px;
 font-size: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  float: right;
  text-align: center;
  justify-content: center;
  
}

nav a{
  color: white;
  text-decoration: none;
}
nav ul {
  margin-left: 70px;
  display: flex;
  gap: 30px;
  
}

nav li {
  list-style-type: none;
}

.social{
 
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  
}
.social a{
  color: red;
}
.icons-container{
  position:absolute;
  top: 40%;
  border: 1px solid gray;
  border-radius: 15px;
  left: 30px;
  padding: 8px;
}

.details-container{
  max-width: 300px;
  position: absolute;
  top: 30%;
  left: 20%;
}

.hero-img{
  position: absolute;
  height: 400px;
  width: 300px;
  top: 20%;
  right: 15%;
}

#hire-me{
  background-color: rgb(5, 196, 78);
  padding: 6px;
  color: white;
  width: 70px;
  border: none;
  border-radius: 5px;
}
.img-container{
 
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-container::before,
.img-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

.img-container::after {
  left: 50%;
  width: 100% !important;
  background-color:rgb(10, 138, 62); 
  transform: skewX(20deg);
}
